<header class="header">
  <div class="container">
    <div class="header__wrapper">
      <a href="#" class="header__logo"><span>News</span> Portal</a>
      <div class="header__items">
         <div class="header__search">
            <img loading="lazy" src="img/svg/Search.svg" class="image" alt="search">
         </div>
         <div class="header__burger">
            <img loading="lazy" src="img/svg/Burger.svg" class="image" alt="burger">
         </div>
      </div>
    </div>
  </div>
</header>
