<section class="hero">
   <div class="container">
      <h1 class="hero__title">Hot Topics</h1>
      <div class="hero__news">
         <div class="hero__img">
            <picture class="hero__img-picture">
              <source srcset="img/Rectangle_1.avif" type="image/avif">
              <source srcset="img/Rectangle_1.webp" type="image/webp">
              <img loading="lazy" src="img/Rectangle_1.jpg" class="image" alt="News">
            </picture>
            <div class="hero__img__title">Massa tortor nibh nulla condimentum imperdiet scelerisque...</div>
            <div class="hero__img__time">2 Hours Ago</div>
            <div class="hero__img__source">CNN Indonesia</div>
         </div>
         <p class="hero__text"><span>Nisi,</span> sagittis aliquet sit rutrum. Nunc, id vestibulum quam ornare adipiscing. Pellentesque sed turpis nunc gravida pharetra, sit nec vivamus pharetra. Velit, dui, egestas nisi, elementum mattis mauris, magnis. Massa tortor nibh nulla condimentum imperdiet scelerisque... read more</p>
      </div>
   </div>
</section>